body {
  margin:  20px;
}

.root {
  width: 70%;
  padding: 70px 50px;
  border: 2px solid rgb(214, 214, 214);
  border-radius: 30px;
  background-color: rgb(247, 247, 247);
}

.container h2 {
  text-align: center;
}

.App {
  width: 70%;
  padding: 70px 50px;
  border: 2px solid rgb(214, 214, 214);
  border-radius: 30px;
  background-color: rgb(247, 247, 247);
  margin: 20px 15%;
}

form {
  text-align: left;
}

table {
  text-align: left;
}
